*{
    margin: 0px;
    font-weight: 800;
  }
  
  .containert{
    width:750px;
    height: 1000px;
  }

.hero {
  height: 40%;
  width: 100%;
  
}

.img {
  background-image: url('./Heroimg.jpg'); 
  border-radius: 7%;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.heroimg{
  height: 100%;
  width: 100%;
}

p,Button{
  font-size: 30px;
  margin-left: 25%;
  padding-top: 5%;
  font-weight: 280;
}

.dark-grey-btn {
  background-color: darkgrey;
  border: none;
}

.boxes{
  height: 80%;
  width: 100%;
  background-color: rgb(205,205,205);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap:3%;
  
}


