body{
  background-color: lightgray;
}

.app_todo{
  margin-top: 300px;
  justify-self: center;
  width: 400px;
  height: 30vh;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.com_todo{
  width: 50%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn{
  font-weight: bold;
  width: 50%;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: lightgray;
}

.text{
  margin-left: 10px;
}